# Exclude imdb data set, download from here: http://ai.stanford.edu/~amaas/data/sentiment/
/aclimdb/*

# Exclude trained models
/models/*
*.hdf5

# Exclude pycharm and jupyter checkpoints stuff
/.idea/*
__pycache__/*
/.ipynb_checkpoints/*
